
    body{
        background-color: aqua;
        }
        </style>
body{
    background-color: lightblue;

}
li{
    list-style-type: squre;
    margin:10px
}
    body{
        background-color: aqua;
        }
    